@media  screen and (min-width:480px) {
    .container{
    max-width: 428px;
    }
}
@media screen and (min-width:480px) {
.backdrop.is-hidden .modal {
    transform: translate(-50%) scale(1.2);
    }
.modal{
    max-width:392px;
    position: absolute;
    top: 96px;
    left: 50%;
    transform: translateX(-50%);
}
}
@media screen and (min-width:320px) {
    .picture {
    display: none;
    }
}
@media screen and (min-width:320px) and (max-width:430px) {
    .blue-big-mob {
     font-size: 22px;
}
}
@media screen and (min-width:320px) and (max-width:388px) {
    .menu-list-sotial-link {
    justify-content: space-between;
    column-gap: 0px;
 
    }
}